/*------------------------Menubar--------------------------------------*/
.navbar {
    min-height: 0; /*wichtig für toggleButton, muss nochmal schöner gemacht werden*/
    background: -moz-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    /*font-size: 12px;*/
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.176);
    border: 0;
}

.dropdown-menu {
    padding: 0;
}

#root > .dropdown {
    color: #555;
    font-size: 14px;
    letter-spacing: 0.6px;
}
#root .layer-item {
    font-weight: 400;
}
#root .dropdown {
    border-right: 1px solid #e5e5e5;
}
.navbar-collapse.in {
    padding: 0;
    max-height: 80vh;
}
