.verkehrsstaerken td {
    white-space: nowrap;
}

.verkehrsstaerken .nav-pills {
    padding: 6px;
}

.verkehrsstaerken .btn-group {
    padding: 6px;
}

.verkehrsstaerken .tab-content {
    overflow: auto;
}

.text-align-center {
    text-align: center;
}
.pointer {
    cursor: pointer;
}
.graph {
    width: 500px;
    height: 250px;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.dot {
    cursor: pointer;
    stroke: none;
    fill: steelblue;
}
.dot_visible {
    cursor: pointer;
    stroke: none;
    fill: red;
}
.dot_invisible {
    display: none;
}
.domain {
    fill: none;
    stroke:#000;
}
.graph-tooltip-div {
    display: inline-block;
    position: relative;
    color: black;
    padding: 2px;
    border: 2px solid white;
    text-align: center;
}
.download {
    float:right;
    padding: 5px;
    font-size: 22px;
    background-color: white;
}
