<!DOCTYPE html>
<tbody>
<%  _.each(gfiContent[0], function(value, key) {
        if (infoFormat === "text/html") { %>
            <tr colspan="1" >
                <td >
                    <iframe src="<%= value%>" class="gfi-iFrame">
                    </iframe>
                </td>
            </tr>
        <% }
        else { %>
<%     if (_.isString(key) === false || _.isString(value)=== false) return;
    %>
<tr colspan="2">
    <td style="font-family: 'UniversNextW04-620CondB','Arial Narrow',Arial,sans-serif;">
        <%= key + ""%>
    </td>
    <td>
        <% if (value.search(".pdf") !== -1 && value.substr(0, 4) === "http") { %>
            <!-- Hack für Flüchtlingsportal -->
            <% _.each(value.split("$"), function (val, index) { %>
                <a href="<%= val %>" target="_blank">Anhang <%= index + 1 %></a><br>
            <% }); %>
        <% } else if (value.search(".html") !== -1 || value.substr(0, 4) === "http") { %>
            <a href="<%= value %>" target="_blank">Link</a>
        <% } else if (value.substr(0, 4) == "040 " || value.substr(0, 4) === "040-" || value.substr(0, 3) === "+49"
                || value.substr(0, 5) === "0800 "
                || value.substr(0, 5) === "0800-") { %>
            <a href="tel:<%= value.replace(" ", "").replace("-", "")%>"><%= value %></a>
        <% } else { %>
            <%= value %>
        <% } %>
    </td>
</tr>
<% }}); %>
</tbody>
