.layerinformation .subtitle {
    color: rgb(182, 0, 0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.layerinformation hr {
    margin: 15px 0px 10px 0px;
}

/***** Destop *****/
#layerinformation-desktop {
    position: absolute;
    top: 20px;
    right: 60px;
    width: 45vw;
    margin: 60px 10px 30px 10px;
    z-index: 1010;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.176);
    border: 1px solid rgb(229, 229, 229);
}

#layerinformation-desktop .header {
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid rgb(229, 229, 229);
    cursor: move;
}

#layerinformation-desktop .glyphicon-remove:hover {
    opacity: 0.7;
    cursor: pointer;
}

#layerinformation-desktop .content {
    max-height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 10px;
    font-size: 12px;
}
